p {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color:rgba(200, 200, 200, 1);
	font-size: 1rem;
}

.separator{
	color:#c27f49;
}

.small-button, .link-button {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	margin-top: 0.5em;
	font-size: 1em;
	background:rgba(15, 15, 15, 1);
	color:hsl(27, 50%, 52%);
	border:1px solid hsl(27, 50%, 52%);
	border-radius: 2px;
	padding: 0.4em 0.7em;
	cursor:pointer;
	transition: all 0.3s ease;
}

.small-button:hover,
.small-button:active,
.small-button:focus,
.link-button:hover,
.link-button:active,
.link-button:focus{
	color:rgba(200, 200, 200, 1);
	border-color: hsl(27, 50%, 52%);
	border-color: hsl(27, 50%, 52%);
	box-shadow:0 0 0.8em hsl(27, 50%, 52%);
  cursor: pointer;
}

.link-button{
	text-decoration: none;
	padding: 0.45em 1.2em;
	margin-right:0.5em;
}

.date {
	font-size: 0.8em;
	color:rgba(150, 150, 150, 1);
	font-style: italic;
}
