<div class="wrapper">

		<!-- header -->
		<div class="header">
			<img src="assets/img/header.jpg" alt="silhouettes of people walking during sunset" >
		</div>

		<!-- main content of the page -->
		<div  class="main">

			<section class="home-links">
				<a href="/yosemite"><img src="assets/img/yosemite_2.jpg" alt=""></a>
				<h2>Yosemite</h2>
			</section>

			<section class="home-links">
				<a href="#"><img src="assets/img/arches_2.jpg" alt=""></a>
				<h2>Arches</h2>
			</section>

			<section class="home-links">
				<a href="#"><img src="assets/img/everglades_2.jpg" alt=""></a>
				<h2>Everglades</h2>
			</section>
		</div>

</div>
